@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
}
.slick-slider .slick-list .slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
